.about, .contacts {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(240, 10%, 16%);
    img {width: 50%;}
}
.about {
    img {border-radius:  7px;}
    span {font-weight: 700;}
}

.contacts {
    .links {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: hsla(240, 10%, 16%, 0.84);
            transition: all 300ms ease-in-out;
            h3 {margin-left: 5px;}
            &:hover {
                color: hsl(240, 10%, 16%);
            }
        }
    }
    @media(max-width: 500px){
        font-size: x-small;
    }
}

.work {
    padding: 30px 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .projects {
        padding: 0px 35px 30px;
        display: flex;
        flex-direction: column;
        img {
            border-radius: 7px 7px 0px 0px;
            height: 13rem;
        }
        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {margin: 0px 0px 10px;}
            a {
                text-decoration: none;
                color: white;
                border-radius: 5px;
                padding: 10px 20px;
                background: hsl(233, 26%, 24%);
                border: .5px solid hsl(233, 26%, 24%);
                transition: all 300ms ease-in-out;
                &:hover {
                    color: hsl(233, 26%, 24%);
                    background: white;
                }
            }
        }
    }
    @media(max-width: 993px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .projects {
            align-items: center;
            img {
                width: 13rem;
            }
        }
    }
}

.mainprojects {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .svg {width: 30%;}
    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 3rem;
        grid-column-gap: 5rem;
        img {
            border-radius: 7px;
            border: 2.5px solid hsl(233, 26%, 24%);
            width: 100%;
            height: 24rem;
            box-shadow: 7px 11px 4px 0px #848484;
        }
    }
    @media(max-width:  993px) {
        .images {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {height: 17rem;
            width: 70%;}
        }
    }
}