@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
html {
  scroll-behavior: smooth;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif !important;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  font-family: 'Quicksand', sans-serif;
  padding: 10px 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav .logo {
  font-family: 'Dancing Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2d314d;
}

nav .logo img {
  height: 1.7rem;
  border-radius: 50%;
  margin-right: 10px;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links a {
  color: #000613;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .links a:not(:first-child) {
  margin-left: 3rem;
}

nav .links a:hover {
  color: #333333;
}

nav .social a {
  color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .social a:not(:first-child) {
  margin-left: 10px;
}

nav .social a:hover {
  color: #000613;
}

nav #hamburger {
  display: none;
  cursor: pointer;
}

nav #hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

nav #hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 933px) {
  nav {
    padding: 10px 3rem;
  }
  nav .links, nav .social {
    display: none;
  }
  nav #hamburger {
    display: block;
  }
}

.mobilemenu {
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 35px 6rem;
  border-radius: 7px;
  font-family: 'Quicksand', sans-serif;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobilemenu a {
  text-decoration: none;
  color: #202a3c;
  font-weight: 700;
}

.mobilemenu a:not(:last-child) {
  margin-bottom: 3rem;
}

.App-header.burger #hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.App-header.burger #hamburger > span:nth-child(2) {
  opacity: 0;
}

.App-header.burger #hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.App-header.burger .home, .App-header.burger .work, .App-header.burger .about, .App-header.burger .contacts, .App-header.burger .mainprojects {
  opacity: 0.5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202a3c), to(rgba(32, 42, 60, 0.062)));
  background-image: linear-gradient(to bottom, #202a3c, rgba(32, 42, 60, 0.062));
}

.home .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: whitesmoke;
  padding: 10px 5rem;
}

.home .top .left {
  margin-right: 42px;
}

.home .top img {
  height: 25rem;
}

.home .mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40% 30%;
      grid-template-columns: 20% 40% 30%;
  grid-column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 5rem;
}

.home .mid h2, .home .mid p {
  margin: 5px 0px;
}

.home .mid .illustrations .illustration {
  font-size: x-small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .mid .illustrations img {
  height: 2rem;
  margin-right: 10px;
}

.home .mid .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .mid .texts p {
  margin-bottom: 1rem;
}

.home .mid .texts .textstop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .mid a {
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background: #2b2b50;
  border-radius: 7px;
  border: 0.5px solid #2b2b50;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.home .mid a:hover {
  color: #2b2b50;
  background: white;
  border: 0.5px solid #2b2b50;
}

.home .wide {
  width: 100vw;
  height: 10rem;
}

.home .works {
  padding: 30px 35px;
}

.home .works .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .works .texts a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background: #2b2b50;
  border-radius: 5px;
  border: 1px solid #2b2b50;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.home .works .texts a:hover {
  color: #2b2b50;
  background: white;
}

.home .works .slideshow-container {
  width: 50%;
  margin: 30px auto 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .works .slideshow-container img {
  width: 100%;
  height: 20rem;
  border-radius: 10px;
}

.home .works .slideshow-container .buttons {
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #7979fb;
}

.home .works .slideshow-container .slide {
  opacity: 0;
  -webkit-transition-duration: 500ms ease;
          transition-duration: 500ms ease;
}

.home .works .slideshow-container .slide.active {
  opacity: 1;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

@media (max-width: 993px) {
  .home {
    font-size: smaller;
  }
  .home .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 3rem;
  }
  .home .top img {
    height: 100%;
    width: 73vw;
  }
  .home .top .left {
    margin: 0;
  }
  .home .mid {
    padding: 30px 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .mid .image {
    width: 40vw;
  }
}

@media (max-width: 500px) {
  .home .mid .image {
    width: 80vw;
  }
  .home .wide {
    height: 100%;
  }
  .home .works .texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .works .slideshow-container {
    width: 80%;
  }
}

.about, .contacts {
  padding: 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #25252d;
}

.about img, .contacts img {
  width: 50%;
}

.about img {
  border-radius: 7px;
}

.about span {
  font-weight: 700;
}

.contacts .links a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(37, 37, 45, 0.84);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contacts .links a h3 {
  margin-left: 5px;
}

.contacts .links a:hover {
  color: #25252d;
}

@media (max-width: 500px) {
  .contacts {
    font-size: x-small;
  }
}

.work {
  padding: 30px 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.work .projects {
  padding: 0px 35px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .projects img {
  border-radius: 7px 7px 0px 0px;
  height: 13rem;
}

.work .projects .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .projects .bottom p {
  margin: 0px 0px 10px;
}

.work .projects .bottom a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  background: #2d314d;
  border: 0.5px solid #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.work .projects .bottom a:hover {
  color: #2d314d;
  background: white;
}

@media (max-width: 993px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .projects {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .projects img {
    width: 13rem;
  }
}

.mainprojects {
  padding: 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainprojects .svg {
  width: 30%;
}

.mainprojects .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;
}

.mainprojects .images img {
  border-radius: 7px;
  border: 2.5px solid #2d314d;
  width: 100%;
  height: 24rem;
  -webkit-box-shadow: 7px 11px 4px 0px #848484;
          box-shadow: 7px 11px 4px 0px #848484;
}

@media (max-width: 993px) {
  .mainprojects .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainprojects .images img {
    height: 17rem;
    width: 70%;
  }
}

.footer {
  padding: 10px 5rem;
  background: #25252d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c8c8cb;
}

.footer a {
  text-decoration: none;
  color: #c8c8cb;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer a:hover {
  color: white;
}

.footer .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .top .logo {
  font-family: 'Dancing Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer .top .logo img {
  height: 1.7rem;
  border-radius: 50%;
  margin-right: 10px;
}

.footer .top .contactLinks a:not(:first-child) {
  margin-left: 10px;
}

.footer .conclusion a {
  font-weight: 700;
  font-family: 'Righteous', cursive;
}

@media (max-width: 993px) {
  .footer {
    padding: 30px 2rem;
  }
  .footer .top {
    font-size: smaller;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */